*{
    box-sizing: border-box;
}


@font-face {
    font-family: 'Bariol Light';
    font-style: normal;
    font-weight: normal;
    src: local('Bariol Light'), url('bariol_light-webfont.woff') format('woff');
}
    

body {
    margin: 0;
    font-family: 'Bariol Light', Times New Roman;
}

#a {
    cursor: pointer;
}


/* Header CSS */

.donutlogo {
    height: 55px;
}

.top-header{
    background-color: hsl(267, 100%, 26%);
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 76px;
    border: red 1px solid;

}

.top-nav {
    padding: 39px 20px 20px;
    display: flex;
    justify-content: space-between;
    max-width: 1180px;
    margin: auto;
    transition: all .3s;
        -webkit-transition: all .3s;
}

ul {
    /* display: flex;
    justify-content: flex-end; */
    margin-right: 1em;
    padding-inline-start: 40px;
}

.nav-menu ul li {
    list-style: none;
    display: inline-flex;
    font-size: .875rem;
    letter-spacing: .5px;
    margin-left: 15px;
}

.nav-menu ul li a {
    color: hsla(0, 0%, 100%, .75);
    text-decoration: none;
    transition: color .3s;
}


.nav-menu ul li a.sign-in {
    padding: 10px 20px;
    font-weight: 600;
    background-color: hsla(0, 0%, 100%, .15);
    border-radius: 5px;
    color: hsl(0, 0%, 100%);
    transition: background-color .3s;
}

/* Description Section CSS */
.description-section {
    background-color: hsl(267, 100%, 26%);
    position: relative;    
    height: 780px;
    padding-top: 122px;
}

.description-part1 {
    padding: 0 20px;
    margin: auto;
    max-width: 1180px;
}

.description-section-leftside {
    max-width: 600px;
    color: hsl(0, 0%, 100%);
}

.howbig {
    font-size: 5rem;
    font-weight: 300;
    margin-top: 43px;
    line-height: 1.1;
}

a {
    color: hsl(256, 100%, 66%);
    text-decoration: none;
    transition: color .3s;
}

.slack-button {
    margin-top: -36px;
    width: 215px;
}

img {
    border-style: none;
}

.blond-girl {
    position: absolute;
    bottom: 0;
    left: 50%;
    max-width: 100%;
}

/* Logos CSS */
.logo{
  padding: 60px 0;
  background: hsl(210, 14%, 95%);
}

.logo-container{
  width: 100%;
  max-width: 1180px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.logo-list {
  display: flex;
  flex-wrap: wrap;
    -webkit-box-align: center;
  align-items: center;
}

.logo-item {
  width: 25%;
  text-align: center;
  padding: 20px 40px;
}

img.logo-image {
  height: auto;
  max-width: 100%;
  vertical-align: top;
}

/* Features CSS */
.features {
  margin:60px auto 0;
  max-width: 1180px;
}

.features img{
  max-width: 90%;
  position: absolute;
  z-index: -1;
}

.pairing-block,
.onboarding-block{
  position: relative;
}

.pairing-image {
  right: 85px;
}

.onboarding-image {
  left: 81px;
}

.feature-descriptions {
  display: flex;
}

feature-descriptions h3 {
  font-size: 3.75rem;
  line-height: 1.1;
  font-weight: 300;
  color: hsl(265, 100%, 27%);
  margin-bottom: -17px;
  margin-top: 5px;
}

.feature-paragraph {
  color: hsl(265, 100%, 27%);
  font-size: 1.875rem;
  font-weight: 300;
  line-height: 1.2;
}

.pairing-text,
.onboarding-text {
  background-color: hsl(210, 14%, 95%);
  border-radius: 10px;
  margin: 245px 20px 20px 20px;
  padding: 20px;
}

.pairing-link {
  font-size: 1.5rem;
  font-weight: 600;
  transition: color .3s;
  color: hsl(256, 100%, 66%);
  text-decoration: none;
}

.pairing-link:hover {
  color: hsl(265, 100%, 27%);
}

.pairing-link:after {
  content: " \00BB";
}

/* Jinyoung CSS */
#testimonial {
  display:flex;
  margin:6em;
  margin-bottom:-0.5em;
}

.grid-left {
  display:flex;
  flex-direction:column;
  margin-right:6em;
}

.img-clark, .img-logo {
  display:flex;
  justify-content: center;
  margin-bottom:1em;
}

.grid-right h1 {
  font-size: 2.5em;
}

.grid-right a {
  color:#8052FF;
}

footer {
  display:grid;
  grid-template-columns:1fr 2fr 2fr;
  grid-column-gap: 5em;
  margin-left:10em;
}

.column1 {
  display:flex;
  flex-direction:column;
}

.email {
  padding:0.5em;
}

.btn {
  border-radius : 4px;
  border:none;
  background-color:#8052FF;
  color:white;
  font-size:1em;
  margin:1em;
  padding:1em 0.2em;
}

.btn:hover {
  background-color:#39008A;
}

.column2 {
  display:grid;
  color:#8052FF;
  grid-template-columns: 1fr 1fr;
  grid-gap:-30px;
}

.column2 ul {
    list-style: none;
    padding-block: 0;
}

.column2 a {
  text-decoration:none;
  
}

.column2-left .column2-right {
  border:1px solid black;
}

/* .column3 {
} */
 
